* {
  margin: 0;
  padding: 0;
}

.mainbody {
  width: 100%;
  min-height: 100vh;
  background-color: #3c4f65;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerbody {
  background-color: white;
  /* padding: 100px; */
  width: 30%;
  min-height: 70vh;
  padding-top: 0%;
  border-radius: 5%;
  box-shadow: 5px 5px 10px -5px #263241;
}
h1 {
  background-color: #834c69;
  width: 100%;
  justify-content: center;
  display: flex;
  color: white;
  letter-spacing:0.05em;
  text-shadow: 5px 5px 5px 5px #64354e;
}
.inputfield {
  display: flex;
  justify-content: center;
 
}
input{
    padding: 2px;
    /* border-radius: 5px; */
    border: 0px solid;
    border-bottom: 3px solid #834c69;
    text-align: center; 
    /* background: transparent; */
}
input:focus {
  outline: none;
  
}

  button{
      cursor: pointer;
      background-color:#834c69;
      color:white;

      border-radius: 100%;
  }
.reset:hover{
    background-color: greenyellow;
}


ul {
  list-style-type: none;
  display: inline;
}

/* .reset {
    margin-left: 5px;
    /* padding: 3px; */
